<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wash.midest.com.mrwashapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".screens.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.LandingActivity"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity android:name=".screens.RegistrationActivity"/>
        <activity android:name=".screens.LoginActivity" />
        <activity android:name=".screens.VerifyEmailActivity"/>

        <activity
            android:name=".screens.BaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".screens.SubSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".screens.OtpActivity"></activity>
    </application>

</manifest>