<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wash.midest.com.mrwashapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".mrwashapp.MrWashApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.VerifyEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.SubSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".screens.OtpActivity" />
        <activity android:name=".screens.PlaceOrderActivity" />
        <activity android:name=".screens.ForgotPassActivity" />
        <activity android:name=".screens.DemoScreenOne" />
        <activity android:name=".screens.NewPasswordActivity"></activity>
    </application>

</manifest>